header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    img{
        width: 200px;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    h2{
        text-align: center;
        color: rgb(160, 72, 173);
        font-weight: 300;
        font-size: 30px;
    }

    .heading1{
        margin-top: 0%;
    }
}