@use "./variables";

.carousel-heading{

    .mot-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 140px;
        margin-top: 137px;

        .carousel-buttons{
            display: flex;
            padding-right: 140px;

            .left-btn{
                cursor: pointer;
                
                img{
                    padding: 22px;
                }
            }

            .right-btn{
                background-color: variables.$buttons-bg;
                border-radius: 50%;
                cursor: pointer;
                
                img{
                    padding: 22px;
                }
            }
        }
    }
}