$body-bg: #EFDCC6;
$text-green: #647B64;
$text-gray1: #333333;
$text-gray2: #4F4F4F;
$buttons-text: #FEFEFE;
$buttons-bg: rgb(100,123,100);
$buttons-linear: linear-gradient(90deg, rgba(100,123,100,1) 0%, rgba(102,172,102,1) 100%);
$h3-color: #F3B562;
$footer-bg: #F0DCC5;
$social-bg: #647B64;
$li-color: #333333;