:root{
    --color-danger: red;
    --color-success: green;
}

.color-success{
    color: var(--color-success)
}

.color-danger{
    color: var(--color-danger)
}

.invalid-input{
    border-color: var(--color-danger)
}

.invalid-input:focus{
    outline: none;
}